body{
    display: grid;
    grid-template-columns: 7.5%  7.5% 70% 15%;
}

.container_left{
    background-image: url(copyright.svg);
    background-repeat: repeat-y;
    background-size: 10vh;
    background-position: left;
}

.container_left2{
    background-image: url(logo-pdd-2023.svg);
    background-repeat: no-repeat;
    background-size: 10vh;
}

.container_right{
    background-image: url(public-domain.svg);
    background-repeat: repeat-y;
    background-size: 10vh;
    background-position: right;
}

.container_center{
    display: grid;
    justify-content: center;
}

#title{
    text-align: center;
    font-family: 'Silkscreen';
    font-size: 4rem;
    text-transform: uppercase;
    text-shadow: 1px -1px 0px white;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
}

#subtitle{
    font-family: Arial;
    font-size: 1rem;
    margin-top: 0%;
    margin-bottom: 0%;
}

#index{
    font-size: 130%;
    text-align: center;
}

.box{
    background-color: #ffccbc;
    text-align: left;
    border: solid black;
    border-end-end-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 1%;
}

h2{
    color: white;
    background-color: black;
    margin: 0;
    padding: 3px;
}

#emoji{
    text-align: left;
    float: left;
    padding-left: 2.5rem;
    font-size: 4rem;
}

.block2{
    display: grid;
    grid-template-columns: 83% 17%
}

#sonny{
    border-radius: 20px;
    padding: 10px;
}

.block3{
    display: grid;
    grid-template-columns: 17% 83%
}

#lawrence{
    padding: 10px;
    border-radius: 20px;
}

.highlight{
    background-color: white;
}

.underline{
    text-decoration: underline dashed;
    text-underline-offset: 3px;
}

.names{
    font-weight: bold;
    color: orangered;
}

.end{
    text-align: right;
    padding-bottom: 0;
}

.white{
    color: white;
}